HTML, BODY
{
	margin: 0px;
	background: #FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	color: #4D4948;
}
H1
{
	margin: 0;
	text-align: center;
	font-size: 150%;
	padding: 0px;
}
H2
{
	margin: 0;
	text-align: center;
	font-size: 120%;
	padding: 0px;
}
H3
{
	margin: 0;
	font-size: 105%;
	padding: 0px;
}
A
{
	color: #4D4948;
}
#top
{
	margin: 0 auto;
	background: url('images/top-bg.jpg') repeat-x;
	width: 100%;
	height: 115px;
}
#topban
{
	background-color: #CCCCFF;
	height: 15%;
}
#mainkontent
{
	background-color: #FF66FF;
	width: 100%;
	height: 1900px;
}
#leftbar
{
	background-color: 00FF00;
	width: 200px;
	height: 600px;
	float: left;
}
#kontentbox111
{
	background-color: #FFFF66;
	width: 500px;
	height: 500px;
	float: left;
}
#kontentbox222
{
	background-color: #339933;
	width: 300px;
	height: 300px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
#kontentbox333
{
	background-color: #FF99FF;
	width: 444px;
	height: 666px;
	float: left;
}
#kontentbox444
{
	background-color: #CC3300;
	width: 333px;
	height: 333px;
	float: left;
}
#homepageiframe
{
	width: 322px;
	height: 322px;
	background-color: #FF9900;
	float: left;
}
#bottomsup
{
	width: 100%;
	height: 444px;
	background-color: #CCFF66;
}
#menubar
{
	color: #4D4948;
	width: 100%;
	height: 350px;
}
#menubutton
{
	width: 173px;
	float: left;
	height: 43px;
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	margin-right: 34px;
	background-color: #DB6868;
	text-align: center;
}
#logo
{
	margin: 0 auto;
	background: url('images/latest-build.gif');
	width: 155px;
	height: 124px;
}
#bannerbar
{
	background-color: #DB6868;
	width: 100%;
	height: 124px;
	float: right;
}
#content
{
	margin: 0 auto;
	width: 95%;
}
#content #left-nav
{
	width: 15%;
	float: left;
	font-size: 95%;
}
#content #left-nav UL
{
	padding: 0 0 50px;
	margin: 0;
}
#content #left-nav UL LI
{
	padding: 0;
	margin: 0;
	list-style: none;
}
#content #left-nav UL LI A
{
	text-decoration: none;
}
#content #left-nav UL LI A:hover
{
	color: #FF0505;
	text-decoration: underline;
}
#content #main
{
	float: left;
	width: 85%;
	font-size: 90%;
}
#content #main #regbox
{
	padding: 0;
}
#content #main #regbox LABEL
{
	width: 100px;
	float: left;
}
TABLE.admin TD
{
	vertical-align: top;
}
#error
{
	display: block;
	margin: 5px;
	color: #4D4948;
	background-color: #FFFEBE;
	border: 1px solid #CBCBCB;
	font-size: 90%;
}
#success
{
	margin: 5px;
	color: #4D4948;
	background-color: #BCE9B5;
	border: 1px solid #7ACE6C;
	font-size: 90%;
}
